@tailwind base;
@tailwind components;
@tailwind utilities;

html:not(.light):not(.dark),
.light {
  --bg-accessability: #009681;
  --bg-primary: #f9fafb;
  --bg-secondary: #f1f5f9;
  --text-accessability: #fff;
  --text-primary: #475569;
  --text-secondary: #1e293b;
  --color-primary: #475569;
  --divide-nordTest: #e4e7eb;
}

.dark {
  --bg-accessability: #009681;
  --bg-primary: #3b4252;
  --bg-secondary: #1e293b;
  --text-accessability: #fff;
  --text-primary: #ffffff;
  --text-secondary: #cbd5e1;
  --color-primary: #ffffff;
  --divide-nordTest: #2e3440;
}

body {
  @apply bg-primary text-primary;
}

.dark .error-page {
  @apply text-black;
}
